body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    cursor: default;
    overflow: hidden;
    user-select: none;
    font-family: Helvetica, Arial, sans-serif;
}

.status-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
    background: #fff;
    white-space: nowrap;
    border-top: 1px solid rgb(236, 236, 236);
}

.listing-container {
    overflow: auto;
    width: 100%;
    height: 100vh;
}

form {
    display: inline-block;
}

table {
    width: 100%;
	border-spacing: 0;
    table-layout: fixed;
    margin-bottom: 30px;
}

th {
    padding: 4px 5px;
    font-size: 11px;
    text-align: left;
    margin: 0 5px 0 0;
    font-weight: normal;
    letter-spacing: 0.33px;
    color: rgb(48, 48, 48);
    border-bottom: 1px solid #d6d6d6;
    border-right: 1px solid #e5e5e5;
}

tr.listing {
    height: 22px;
    background: #f5f5f5;
    letter-spacing: 0.1px;
}

td {
    padding: 3px 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td.right {
    text-align: right;
    padding: 0 9px 0 0;
}

td.faded {
    opacity: 0.5;
}

tr.listing:nth-child(odd) {
    background: #fff;
}

tr.listing.selected {
    color: #fff;
    background: #095cdc;
}

img.folder {
    vertical-align: -1px;
    padding: 0 2px 0 0;
}

img.file {
    vertical-align: -3px;
    padding: 0 1px 0 19px;
}

img.arrow {
    height: 11px;
    vertical-align: -1px;
    padding: 0 3px 0 6px;
}